:root {
  --white: #ffffff;
  --off-white: #f6f6f6;
  --light-gray: #e5e5e5;
  --gray: #666666;
  --dark-gray: #2b2b2b;
  --black: #111111;

  --border: #dddddd;

  --font-main: "Playfair Display", serif;
  --font-sub: "Inter", sans-serif;
}
