:root {
  --bg-main: #f3f3f3;
  --bg-section: #ffffff;
  --bg-alt: #ededed;

  --text-main: #111111;
  --text-muted: #666666;

  --border: #dcdcdc;

  --font-main: "Playfair Display", serif;
  --font-sub: "Inter", sans-serif;
}
