.navbar-main {
  background: linear-gradient(
    rgba(0,0,0,0.65),
    rgba(0,0,0,0.65)
  );
  backdrop-filter: blur(6px);
  padding: 18px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: var(--font-main);
  letter-spacing: 2px;
  font-size: 18px;

  .icon {
    font-size: 26px;
  }
}

.nav-menu {
  display: flex;
  gap: 30px;
  list-style: none;

  li {
    font-size: 13px;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
    justify-content: right;
    &:hover {
      color: #d1d5db;
    }
  }
}

.nav-icons {
  display: flex;
  gap: 18px;
  align-items: center;

  span {
    cursor: pointer;
    position: relative;
  }

  small {
    position: absolute;
    top: -6px;
    right: -10px;
    background: gold;
    color: black;
    font-size: 10px;
    padding: 1px 5px;
    border-radius: 50%;
  }
}

.hamburger {
  display: none;
}

@media (max-width: 900px) {
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 0;
    height: 100vh;
    background: #111;
    flex-direction: column;
    padding: 80px 40px;
    transition: 0.3s;
  }

  .nav-menu.open {
    right: 0;
  }

  .hamburger {
    display: block;
  }
}
